body {
    margin: 60px auto;
    width: 70%;
}

.container {
	margin-right: 80px; /* enforce text wrapping before it reaches the very right of the screen during resize */
	margin-top:   30px;
    margin-bottom: 30px;
}

.biophoto {
    width: 90%;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 0px
}

img {
    width: 100%;
}

/*.top {
    background-color: whitesmoke;    
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

footer {
    background-color: whitesmoke;    
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}*/

.right{
    direction: right;
}

.highlighter-rouge {
    background-color:whitesmoke;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

span.header {
    font-family:'Courier New','Helvetica', 'Arial', 'Sans-Serif';
    font-size: 130%;
    font-weight: bold;
    color: grey;
}

span.header a {
    color: #818181;
}

span.header b { 
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 60%; 
    font-weight: normal;
    color: #a1a1a1;
}

span.copyright { 
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 80%; 
    font-weight: normal;
    color: #a1a1a1;
}

nav {
    /*margin-top:   20px;*/
    /*padding-left: 30%;
    padding-right: 30%;*/
}

nav ul, footer ul {
    font-family:'Courier New','Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: normal;
    padding:0px;
}

nav ul li {
    display: inline;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

.nav-item {
    padding-left:2px;
    padding-right:10px;
    border-right: 1px solid gainsboro;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #919191; 
}

a:hover {
    color: crimson;
}

a.active {
    color: crimson;
    font-weight: bolder;
}

.credit {
    font-size: 0.8em;
    color: #999; 
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

h1 {
    font-size: 1.3em;
    font-family: 'Courier New','Helvetica', 'Arial', 'Sans-Serif';
    color: gray;
}
h3 {
    font-size: 0.9em;
    color: #414141;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
h4 {
    font-size: 0.9em;
    line-height: 1.4em;
    color: #414141;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}
p, .container li {
    font-size: 0.9em;
    line-height: 1.4em;
    color: #414141;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.language-plaintext {
    font-size: 1.2em;
    background-color: whitesmoke;
}

footer {
    font-size: .8em;
    border-top: 1px solid #d5d5d5;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

pre.highlight {
    white-space: pre-wrap;
    word-wrap: break-word;
}

blockquote {
    padding: 5px 15px;
    background-color:#F5F8FA;
    border-left:5px solid #30404D;
    margin:0 0 5px;
    word-wrap:break-word
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 801px) {
    body {
        width: 70%;
    }
    .container, footer, .top {
        max-width: 650px;
    }
    pre.highlight {
        font-size:0.9em;
    }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
    body {
        width: 80%;
        margin: 30px auto;
    }
    .container, footer, .top {
        max-width: 450px;
    }
    pre.highlight {
        font-size:0.9em;
    }
}  
@media screen and (max-width: 500px) {
    body {
        width: 90%;
        margin: 30px auto;
    }
    .container, footer, .top {
        width: 100%;
    }
    pre.highlight {
        font-size:0.9em;
    }
}
